{#{{ form_start(form) }}#}
{#    {{ form_widget(form) }}#}
{#    <button class="btn">{{ button_label|default('Save') }}</button>#}
{#{{ form_end(form) }}#}

{% import 'macro/action.html.twig' as action %}

{{ action.frm_start(form) }}

    {{ action.frm_column(
        action.frm_column_field(form.nombreMarca),
        null,
        null,
        null,
        2
    ) }}

    {{  action.frm_column(
        action.frm_column_field(form.detalleMarca),
        null,
        null,
        null,
        2
    ) }}
    {{ action.frm_column(
        action.frm_column_btn(button_label|default('Guardar')),
        null,
        null,
        null,
        2
    ) }}
{{ action.frm_end(form) }}