{% extends 'base.html.twig' %}

{% block title %}EquipoMarca{% endblock %}

{% block body %}
    <h1>EquipoMarca</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ equipo_marca.id }}</td>
            </tr>
            <tr>
                <th>NombreMarca</th>
                <td>{{ equipo_marca.nombreMarca }}</td>
            </tr>
            <tr>
                <th>DetalleMarca</th>
                <td>{{ equipo_marca.detalleMarca }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('equipo_marca_index') }}">back to list</a>

    <a href="{{ path('equipo_marca_edit', {'id': equipo_marca.id}) }}">edit</a>

    {{ include('equipo_marca/_delete_form.html.twig') }}
{% endblock %}
