{% extends 'base.html.twig' %}
{% import 'macro/breadcrumb.html.twig' as breadcrumb %}
{% import 'macro/action.html.twig' as action %}

{% set _title = 'Configuración' %}
{% set _main_title = 'Mostrar' %}
{% set _section =  'equipo_marca_index'%}

{% block _breadcrumb %}
    {{ breadcrumb.show2(_title, _section, 'Mostrar') }}
{% endblock %}

{% block _main %}
    {{ action.tbl_start() }}
    {{ action.tbl_tr('Nombre Marca',equipo_marca.nombreMarca) }}
    {{ action.tbl_tr('Detalle Marca',equipo_marca.detalleMarca) }}
    {% include 'crud/_show_info.html.twig' with {'entity': equipo_marca} %}
    {{ action.tbl_end() }}

{% endblock %}

{% block _main_footer %}
    {% include 'crud/_show_links.html.twig' with {'route_base':'equipo_marca','entity': equipo_marca} %}
{% endblock %}

{% block _main_tools %}
    {% include 'crud/_tools_ico.html.twig' %}
{% endblock %}

{% block _body_tools %}
    {% include 'crud/_show_links_ico.html.twig' with {'route_base':'equipo_marca','entity': equipo_marca} %}
{% endblock %}

{% block _body_tools_ico %}
    {% include 'crud/_show_links_tool.html.twig' with {'route_base':'equipo_marca','entity': equipo_marca} %}
{% endblock %}

{#{% block body %}#}
{#    <h1>EquipoMarca</h1>#}

{#    <table class="table">#}
{#        <tbody>#}
{#            <tr>#}
{#                <th>Id</th>#}
{#                <td>{{ equipo_marca.id }}</td>#}
{#            </tr>#}
{#            <tr>#}
{#                <th>NombreMarca</th>#}
{#                <td>{{ equipo_marca.nombreMarca }}</td>#}
{#            </tr>#}
{#            <tr>#}
{#                <th>DetalleMarca</th>#}
{#                <td>{{ equipo_marca.detalleMarca }}</td>#}
{#            </tr>#}
{#        </tbody>#}
{#    </table>#}

{#    <a href="{{ path('equipo_marca_index') }}">back to list</a>#}

{#    <a href="{{ path('equipo_marca_edit', {'id': equipo_marca.id}) }}">edit</a>#}

{#    {{ include('equipo_marca/_delete_form.html.twig') }}#}
{#{% endblock %}#}
