{% extends 'base.html.twig' %}
{% import 'macro/breadcrumb.html.twig' as breadcrumb %}
{% import 'macro/action.html.twig' as action %}
{% import 'macro/pagination.html.twig' as pagination %}

{% set _title = 'Orden' %}
{% set _main_title = 'Listado' %}
{% set _section =  'orden_servicio_index' %}

{% block _breadcrumb %}
    {{ breadcrumb.show(_title) }}
{% endblock %}

{% block _main %}
<div class="table-responsive">
    {{ action.tbl_start('table-sm') }}
    {{ action.thead_start() }}
    <tr>
        {{ action.th('Numero de Orden', true) }}
        {{ action.th('Cliente', true) }}
        {{ action.th('Tecnico', true) }}
        {{ action.th('Fecha de Ingreso', true) }}
        {{ action.th('Fecha de Salida', true) }}
        {{ action.th('Equipo', true) }}
        {{ action.th('Estado', true) }}
        {{ action.th('Precio', true) }}
        {{ action.th('Activo', true, 'text-center') }}
        <th></th>
    </tr>
    {{ action.thead_end() }}
    {{ action.tbody_start() }}
    {% for orden in paginator.results %}
        <tr>
        <td>{{ orden.numeroOrden}}</td>
        <td>{{ orden.clienteOrden}}</td>
        <td>{{ orden.tecnicoOrden }}</td>
        <td>{{ orden.fechaIngreso }}</td>
        <td>{{ orden.fechaSalida }}</td>
        <td>{{ orden.equipo }}</td>
{#        <td>{{ orden.estadoOrden }}</td>#}
        <td>{% for estado in orden.estadoOrden %}
            {{ estado }},
        {% endfor %} </td>
        <td>{{ orden.precio }}</td>
        <td class="text-center">{{ orden.activo | yesnocustom | raw }}</td>
        <td>
            {% if access.has('view') %}
                {{ action.btn_show_link2_ico(path('orden_servicio_show', {'id': orden.id})) }}
            {% endif %}
            {% if access.has('edit', orden) %}
                {{ action.btn_edit_link2_ico(path('orden_servicio_edit', {'id': orden.id})) }}
            {% endif %}
        </td>
    {% else %}
        <tr>
            <td colspan="4">No hay registros</td>
        </tr>
    {% endfor %}
    {{ action.tbody_end() }}
    {{ action.tbl_end() }}
    </tr>
</div>

    {{ pagination.show(paginator, _section) }}
{% endblock %}

{% block _main_footer %}
    {% include 'crud/_index_links.html.twig' with {'route_base': 'orden_servicio'} %}
{% endblock%}

{% block _main_options %}
    {% include 'crud/_index_filter.html.twig' %}
{% endblock %}

{% block _main_tools %}
    {% include 'crud/_tools_ico.html.twig' %}
{% endblock %}

{% block _body_tools_ico %}
    {% include 'crud/_index_links_tool.html.twig' with {'route_base': 'orden_servicio'}  %}
{% endblock %}

{% block _body_tools %}
    {% include 'crud/_index_links_ico.html.twig' with {'route_base': 'orden_servicio'}  %}
{% endblock %}

{% block _stylesheets %}
{% endblock %}

{% block _javascripts %}
    <script>
        $(document).ready(function () {
            $(document).on('change', '#filter_size', function () {
                let route = '{{ path('orden_servicio_index') }}';
                route = route + "?" + 'n=' + $('#filter_size option:selected').val();
                route = route + "&" + 'b=' + $('#filter_text').val();
                window.location = route;
            });

            $(document).on('click', '.btn-send', function () {
                window.location = '{{ path('orden_servicio_index') }}';
            });

            $(document).on('click', '.btn-clean', function () {
                window.location.href = '{{ path('orden_servicio_index') }}';
            });
        });
    </script>
{% endblock %}

